/* App.css */
.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.dndflow {
  display: flex;
  height: 100%;
}

aside {
  width: 200px;
  background: #f4f4f4;
  padding: 10px;
  border-right: 1px solid #ccc;
  flex-shrink: 0;
}

.dndnode {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
  cursor: grab;
}

.flow-container {
  flex-grow: 1;
  position: relative;
}

.reactflow-wrapper {
  height: 100%;
  flex-grow: 1;
  background: #fff;
  display: flex;
}

.inner {
  display: flex;
  width: 200px;
  height: 200px;
  min-width: 200px;
}

@media (max-width: 768px) {
  .dndflow {
    flex-direction: column;
  }
  .inner{
    width: auto;
    height: auto;
  }

  aside {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .reactflow-wrapper {
    height: calc(100% - 200px); /* Adjust height based on the sidebar height */
  }
}

@media (max-width: 480px) {
  .dndnode {
    padding: 5px;
    font-size: 0.9em;
  }
}
